.footer {
  background-color: $color-dark;

  &-group {
    &-top {
      margin-top: $gap * 3;

      @include md-min {
        margin-bottom: $gap * 2;
      }
      @include md {
        margin-bottom: $gap / 3 * 2;
      }
    }

    &-button {
      margin-bottom: $gap * 2;

      @include md-min {
        margin-top: $gap * 3;
      }
      @include md {
        margin-top: 0;
      }
    }

    &__list {
      margin: 0;
      padding: 0;

      list-style: none;
    }
    &__link {
      color: darken($color-light, 55%);

      font-weight: 100;
      &:hover,
      &:focus {
        color: $color-light;
      }
    }
  }
  &__main {
    margin-bottom: 20px;

    text-align: center;
    strong {
      color: $color-light;
    }
  }
}
