.main {
  @extend %margin-bottom-lg;

  .site-search {
    margin-bottom: $gap * 3;
  }
  .user-login {
    margin-bottom: $gap * 4;
  }
}
.new-films,
.top-week {
  @extend %limit-content;
  &-row {
    margin-right: -$gap / 2;
    margin-bottom: -$gap;
    margin-left: -$gap / 2;
  }

  &-item {
    margin-bottom: $gap;
    padding-right: $gap / 2;
    padding-left: $gap / 2;

    &__img {
      width: 100%;
    }

    &__thumbnail {
      margin-bottom: 0;

      transition: background-color 0.25s;
      &:hover,
      &:focus {
        background-color: $color-accent;
        .new-films-item__title {
          color: $color-light;
        }
      }
    }

    &__title {
      margin-top: 0;
      margin-bottom: 0;

      transition: color 0.25s;

      @include block-shortener(1rem, 1.1, 17.6px, 1);
    }
  }
}

.film-news {
  @extend %limit-content;

  &-item {
    &__title {
      text-align: left;

      font-size: 1.5rem;
      font-weight: 400;
    }
    &__thumbnail {
      margin-bottom: 0;

      transition: background-color 0.25s;
    }
    &__img {
      width: 100%;
    }
    &__about {
      text-align: justify;
    }
    &__btn {
      float: right;

      margin-bottom: $gap * 2;
    }

    &:hover,
    &:focus {
      a {
        color: $color-accent;
      }
      .thumbnail {
        border-color: #f0ad4e;
        background-color: #f0ad4e;;
      }
      .btn {
        color: $color-light;
        border-color: $color-accent;
        background-color: $color-accent;
      }
    }
  }
}
